<div class="page-header-page-inner-content">
  <form
    [formGroup]="form"
    class="filter-form"
  >
    <app-search-control
      [loading]="searching$.value"
      [formGroupObj]="form"
      [formControlObj]="form.controls.search"
      controlFormName="search"
      name="search"
      (onSearch)="onSearch($event)"
      (onCleared)="onSearchCleared()"
      placeholder="Search tracks..."
      [showAction]="true"
      [searchQueries]="searchQueries"
      (onRemoveQuery)="onRemoveQuery($event)"
    >
    </app-search-control>
  </form>
</div>
