<app-logout-dialog *ngIf="dialogs.account.logout"></app-logout-dialog>
<app-remove-group-dialog *ngIf="dialogs.groups.deleteGroup"></app-remove-group-dialog>
<app-remove-album-dialog *ngIf="dialogs.albums.deleteAlbum"></app-remove-album-dialog>
<app-add-track-dialog *ngIf="dialogs.tracks.addTrack"></app-add-track-dialog>
<app-remove-track-dialog *ngIf="dialogs.tracks.deleteTrack"></app-remove-track-dialog>
<app-edit-track-dialog *ngIf="dialogs.tracks.updateTrack"></app-edit-track-dialog>
<app-remove-track-list-dialog *ngIf="dialogs.trackLists.deleteTrackList"></app-remove-track-list-dialog>
<app-crop-image-dialog></app-crop-image-dialog>
