<div
  class="playable-item"
  [ngClass]="{ 'playing' : playing }"
>
  <app-actions-dropdown
    *ngIf="showActions && !params.disableActions"
    [_items]="actions"
    class="actions-1"
    (onActionsClick)="onActionsClick($event)"
  >
  </app-actions-dropdown>
  <div
    *ngIf="!params.hideTitle"
    class="item-title-container"
  >
    <app-link
      class="item-title"
      variant="white"
      urlKey="groupDetails"
      [params]="{ id: group.id }"
    >
      {{ group.name }}
    </app-link>
  </div>
  <div class="item-image-container">
    <app-image
      class="item-image"
      [_src]="imageUrl"
      [_fallback]="'./assets/images/group-anonymous.png'"
      alt="music group"
    >
    </app-image>
    <div class="actions-2-container">
      <div class="actions-2">
        <div
          *ngIf="!params.cantPlay"
          class="controls"
        >
          <app-action-button
            *ngIf="itemStatus === 'none'"
            (onClick)="onPlayClick()"
            [_size]="{ width: '3rem', height: '3rem' }"
            class="action control-action start-play-action"
            type="play">
          </app-action-button>
          <app-action-button
            *ngIf="playing && itemStatus === 'play'"
            (onClick)="onStopClick()"
            [_size]="{ width: '3rem', height: '3rem' }"
            class="action control-action stop-action"
            type="stop">
          </app-action-button>
          <app-action-button
            *ngIf="playing && itemStatus === 'stop'"
            (onClick)="onPlayClick()"
            [_size]="{ width: '3rem', height: '3rem' }"
            class="action control-action play-action"
            type="play">
          </app-action-button>
        </div>
      </div>
    </div>
    <app-item-counters
      class="counters-container"
      [albumCount]="group.albumsCount"
    >
    </app-item-counters>
    <div class="player-indicators-container">
      <app-play-indicator
        *ngIf="itemStatus === 'play'"
        class="play-indicator"
      >
      </app-play-indicator>
      <app-stop-indicator
        *ngIf="itemStatus === 'stop'"
        class="stop-indicator"
      >
      </app-stop-indicator>
    </div>
  </div>
</div>
